*{
    font-family: 'Roboto', sans-serif;
}

.container-infos-cliente{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    width: 80%;
    height: auto;
    min-height: 80vh;
    border: var(--azul-porto) 4px solid;
    border-radius: 3%;
    position: relative;
    padding: 20px;
    padding-top: 40px;
}
.container-dados-pessoais .container-endereco{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-items: center;
}
.linha-dados{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto
}
.infos{
    border: var(--azul-porto) 2px solid;
    border-radius: 10px;
    width: 100%;
}
.container-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container-button button{
    color: white;
    cursor: pointer;
}
.container-infos-cliente h3{
    font-style: italic;
}